.cart {
	position: fixed;
	top: 0;
	right: 0;
	width: 20rem;
	bottom: 0;
	background-color: #EAEAEA;
	z-index: 999;
	padding: 0.5rem;
	overflow-y: scroll;
	p {
		text-align: center;
	}
	h4 {
		text-align: center;
		padding-bottom: 0.5rem;
		color: $dark-blue;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		width: fit-content;
		font-size: 1.5rem;
		font-weight: 500;
		margin: 1.5rem auto;
		svg {
			stroke: $dark-blue;
			margin-left: 0.5rem;
		}
		span {
			position: absolute;
			top: -10px;
			right: -13px;
			color: $yellow;
		};
	}
	&__item {
		display: flex;
		margin-bottom: 1rem;
		padding-bottom: 1rem;
		border-bottom: 1px solid $grey;
		h5 {
			font-size: 1.2rem;
			margin: 0 0 0.2rem 0;
			font-weight: 500;
		}
		h6 {
			margin: 0;
			font-weight: 500;
		}
	}
	&__image {
		width: 5rem;
		height: 7rem;
		margin-right: 0.5rem;
		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
	&__actions {
		display: flex;
		align-items: center;
		margin-top: 0.5rem;
		input {
			border: 1px solid $grey;
			border-radius: 0.5rem;
			padding: 0.3rem 0.3rem;
			background-color: #F6F6F6;
			width: 3rem;
			margin-right: 0.5rem;
		}
		span {
			margin-left: 0.5rem;
			line-height: 100%;
			display: inline-block;
			&.cart__price {
				font-size: 1.3rem;
				color: $yellow;
			}
		}
	}
	h4 {
		strong {
			font-weight: 500;
			margin-left: 0.5rem;
		};
	}
	.btn {
		margin: 0 auto;
		display: flex;
	}
}