.cart {
	position: fixed;
	top: 0;
	right: 0;
	width: 20rem;
	bottom: 0;
	background-color: #EAEAEA;
	z-index: 999;
	padding: 0.5rem;
	overflow-y: scroll;
	p {
		text-align: center;
	}
	h4 {
		text-align: center;
		padding-bottom: 0.5rem;
		color: $dark-blue;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		width: fit-content;
		font-size: 1.5rem;
		font-weight: 500;
		margin: 1.5rem auto;
		svg {
			stroke: $dark-blue;
			margin-left: 0.5rem;
		}
		span {
			position: absolute;
			top: -10px;
			right: -13px;
			color: $yellow;
		};
	}
	&__item {
		display: flex;
		margin-bottom: 1rem;
		padding-bottom: 1rem;
		border-bottom: 1px solid $grey;
		h5 {
			font-size: 1.2rem;
			margin: 0 0 0.2rem 0;
			font-weight: 500;
		}
		h6 {
			margin: 0;
			font-weight: 500;
		}
	}
	&__image {
		width: 5rem;
		height: 7rem;
		margin-right: 0.5rem;
		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
	&__actions {
		display: flex;
		align-items: center;
		margin-top: 0.5rem;
		input {
			border: 1px solid $grey;
			border-radius: 0.5rem;
			padding: 0.3rem 0.3rem;
			background-color: #F6F6F6;
			width: 3rem;
			margin-right: 0.5rem;
		}
		span {
			margin-left: 0.5rem;
			line-height: 100%;
			display: inline-block;
			&.cart__price {
				font-size: 1.3rem;
				color: $yellow;
			}
		}
	}
	h4 {
		strong {
			font-weight: 500;
			margin-left: 0.5rem;
		};
	}
	.btn {
		margin: 0 auto;
		display: flex;
	}
}
.checkout {
	&__inner {
		display: flex;
		flex-wrap: wrap;
	}
	&__list {
		flex: 1;
		width: 100%;
		@media (max-width: 768px) {
			flex: 0 0 100%;
		}
	}
	&__order {
		min-width: 20rem;
		border-left: 1px solid $grey;
		padding-left: 1rem;
		@media (max-width: 768px) {
			margin-left: auto;
			border: none;
			padding-left: 0;
			min-width: 100%;
		}
		@media (max-width: 320px) {
			flex: 0 0 100%;
		}
		h6 {
			font-weight: 500;
			font-size: 0.87rem;
		}
		li {
			border-bottom: 1px solid #6C6C6C;
    		padding: 0.5rem 0;
			display: flex;
			justify-content: space-between;
			span {
				font-weight: 600;
			}
			&:first-child {
				border-bottom-color: transparent;
			}
			&:last-child {
				border-bottom-color: transparent;
			}
		}
		button {
			margin: 1rem 0;
		}
	}
	&__item {
		display: flex;
		align-items: flex-start;
	}
}
.item {
	border-bottom: 1px solid $grey;
	padding: 1rem 0;
	&:last-child {
		border-bottom-color: transparent;
	}
	&__image {
		width: 8rem;
		flex: 0 0 8rem;
		margin-right: 2rem;
		img {
			width: 100%;
			object-fit: contain;
		}
		@media (max-width: 320px) {
			margin-left: 0;
			width: 6rem;
			flex: 0 0 6rem;
		}
	}
	&__body {
		flex: 1;
		padding-top: 1rem;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		h4, h6 {
			font-weight: 500;
			margin: 0 0 0.5rem 0;
			a {
				color: #000;
			}
		}
		@media (max-width: 320px) {
			// flex: 0 0 70%;
		}
	}
	&__actions {
		max-width: 15rem;
		flex: 1;
		display: flex;
		flex-wrap: wrap;
		padding-left: 1rem;

		
		@media (max-width: 620px) {
			flex-direction: column;
		}
	}
	&__input-group {
		display: inline-flex;
		align-items: center;
		margin: 0 0.5rem 0.5rem 0;
		border: 1px solid $grey;
		input {
			border-left: 1px solid $grey;
			border-right: 1px solid $grey;
			border-top: 0;
			border-bottom: 0;
			padding: 0.3rem 0.3rem;
			background-color: #F6F6F6;
			width: 3rem;
			text-align: center;
		}
		button {
			border: none;
			background-color: transparent;
			padding: 0.3rem 0.7rem;
			cursor: pointer;
		}
	}
	.item__price {
		display: flex;
		gap: 0.5rem;
		align-items: center;
		&-new {
			font-weight: 600;
			color: $yellow;
		}
		&-old {
			text-decoration: line-through;
			color: $grey;
			font-size: 0.85rem;
		}
	}
	.item__total-price {
		flex: 1;
		text-align: right;
		margin-right: 2rem;
		@media (max-width: 620px) {
			text-align: left;
		}
	}
}