.loader{
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
  }
  .loader__wrapper {
	display: flex;
	justify-content: center;
	margin: 3rem 1rem;
}
  .loader div {
	display: inline-block;
	position: absolute;
	left: 8px;
	width: 16px;
	background: $yellow;
	animation: loader 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }
  .loader div:nth-child(1) {
	left: 8px;
	animation-delay: -0.24s;
  }
  .loader div:nth-child(2) {
	left: 32px;
	animation-delay: -0.12s;
  }
  .loader div:nth-child(3) {
	left: 56px;
	animation-delay: 0;
  }
  @keyframes loader{
	0% {
	  top: 8px;
	  height: 64px;
	}
	50%, 100% {
	  top: 24px;
	  height: 32px;
	}
  }

  .btn {
	position: relative;
	border-radius: 0.625rem;
    border: 1px solid transparent;
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
	font-family: $nurito-font;
    padding: 0.44rem 3.06rem;
    background-color: #FFCE1A;
    display: inline-flex;
    justify-content: center;
    align-items: center;
	height: 2.25rem;
	cursor: pointer;
	white-space: nowrap;
	box-shadow: 0px 0px 0px 0px rgba(254, 175, 56, 0.10), -1px 1px 3px 0px rgba(254, 175, 56, 0.10), -5px 2px 6px 0px rgba(254, 175, 56, 0.09), -12px 5px 8px 0px rgba(254, 175, 56, 0.05), -21px 8px 9px 0px rgba(254, 175, 56, 0.01), -33px 13px 10px 0px rgba(254, 175, 56, 0.00);
	transition: all .3s ease-in;
	svg {
		margin-right: 0.7rem;
		stroke: #fff!important;
		transition: all .3s ease-in;
	}
	span {
		position: absolute;
		top: -1px;
		left: 73px;
		color: $grey;
	}
	&:hover {
		background-color: transparent;
		border: 1px solid $yellow;
		box-shadow: 0px 0px 0px 0px rgba(254, 175, 56, 0.10), -1px 1px 3px 0px rgba(254, 175, 56, 0.10), -5px 2px 6px 0px rgba(254, 175, 56, 0.09), -12px 5px 8px 0px rgba(254, 175, 56, 0.05), -21px 8px 9px 0px rgba(254, 175, 56, 0.01), -33px 13px 10px 0px rgba(254, 175, 56, 0.00);
		backdrop-filter: blur(5px);
		color: $yellow;
		svg {
			stroke: $yellow!important;
		}
	}
	@media (max-width: 425px) {
		width: 100%;
	}
}
.header__btn {
	svg {
		margin-right: 1.2rem;
	}
}